AddDefaultCharset UTF-8

Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.nexart\.pro$ [NC]
RewriteRule ^(.*)$ http://nexart.pro/$1 [R=301,L]

<IfModule mod_php5.c>
 php_flag session.use_trans_sid off
 #php_value display_errors 1
 #php_value mbstring.internal_encoding UTF-8
</IfModule>


<IfModule mod_dir.c>
 DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_headers.c>
   Header unset ETag
</IfModule>

<IfModule mod_expires.c>
   Header append Cache-Control "public"
   FileETag MTime Size
   
   ExpiresActive on
   ExpiresDefault                                      "access plus 1 week"

 # CSS
   ExpiresByType text/css                              "access plus 1 week"

 # Data interchange
   ExpiresByType application/json                      "access plus 0 seconds"
   ExpiresByType application/ld+json                   "access plus 0 seconds"
   ExpiresByType application/vnd.geo+json              "access plus 0 seconds"
   ExpiresByType application/xml                       "access plus 0 seconds"
   ExpiresByType text/xml                              "access plus 0 seconds"

 # Favicon (cannot be renamed!) and cursor images
   ExpiresByType image/x-icon                          "access plus 1 week"

 # HTML components (HTCs)
   ExpiresByType text/x-component                      "access plus 1 week"

 # HTML
   ExpiresByType text/html                             "access plus 0 seconds"

 # JavaScript
   ExpiresByType application/javascript                "access plus 1 week"

 # Manifest files
   ExpiresByType application/manifest+json             "access plus 1 week"
   ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
   ExpiresByType text/cache-manifest                   "access plus 0 seconds"

 # Media
   ExpiresByType audio/ogg                             "access plus 1 week"
   ExpiresByType image/gif                             "access plus 1 week"
   ExpiresByType image/jpeg                            "access plus 1 week"
   ExpiresByType image/png                             "access plus 1 week"
   ExpiresByType video/mp4                             "access plus 1 week"
   ExpiresByType video/ogg                             "access plus 1 week"
   ExpiresByType video/webm                            "access plus 1 week"

 # Web feeds
   ExpiresByType application/atom+xml                  "access plus 1 hour"
   ExpiresByType application/rss+xml                   "access plus 1 hour"

 # Web fonts
   ExpiresByType application/font-woff                 "access plus 1 week"
   ExpiresByType application/vnd.ms-fontobject         "access plus 1 week"
   ExpiresByType application/x-font-ttf                "access plus 1 week"
   ExpiresByType font/opentype                         "access plus 1 week"
   ExpiresByType image/svg+xml                         "access plus 1 week"

</IfModule> 

<IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/plain
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/xml
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE application/xml
 AddOutputFilterByType DEFLATE application/xhtml+xml
 AddOutputFilterByType DEFLATE application/rss+xml
 AddOutputFilterByType DEFLATE application/javascript
 AddOutputFilterByType DEFLATE application/x-javascript
 <IfModule mod_setenvif.c>
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>
</IfModule>