#centerPanel{
	float: left;
	width: 76vw;
	height: 100%;
	position: relative;
}
#centerPanel #top{
	float: left;
	width: 100%;
	height: 6%;
	margin: 1% 0% 0% 0%;
	border-bottom: 0.1em solid #FF7A00;
	box-shadow: 0 10px 15px -8px rgba(0,0,0,0.3);
}


#centerPanel #top button,#centerPanel #top .frame{
	float: left;
	margin-left: 1%;
	height: 100%;
	border: 0;
}

#centerPanel #top .frame{
	width: 84%;
	overflow: hidden;
	text-shadow: none; 
	
}

#centerPanel #top .frame ul{
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#centerPanel #top .frame ul .folder{
	float: left;
	width: 15vw;
	margin-left: 1vw;
	background-color: #FFA24C;
	border-radius: 0.4em 0.4em 0em 0em;
	cursor: pointer;
}

#centerPanel #top .frame ul .active{
	background-color: #FF7A00;
}

#centerPanel #top .frame ul .folder .fa-pencil{
	display: block;
	float: left;
	height: auto;
	width: 7%;
	margin: 2% 0 0 3%;
	font-size: 40%;
	color: white;
	
}

#centerPanel #top .frame ul .folder input{
	
	font-size: 0.5em;
	float: left;
	width: 80%;
	height: auto;
	background-color: transparent;
	padding: 0 0 0 0%;
	margin: 7% 0 0 0%;
	border: 0;
	outline: none;
	color: white;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

#centerPanel #top .frame ul .folder .remove{
	float: left;
	height: auto;
	width: 10%;
}
#centerPanel #top .frame ul .folder .remove i{
	display: block;
	float: left;
	margin: 0;
	font-size: 40%;
	padding: 15% 0 0 0;
	color: white;
}

#centerPanel #top button{
	display: block;
	width: 5%;
	background-color: transparent;
	margin: 0;
	text-align: center;
	outline: none;
}

#centerPanel #top button i{
	width: 100%;
	height: 100%;
	font-size: 1.3em;
	color: #FFA24C;
}


/*Bottom*/
#centerPanel #bottom{
	position: relative;
	float: left;
	width: 98%;
	height: 91.5%;
	overflow: auto;
	margin: 0% 1% 0% 1%;
}
#centerPanel #bottom #fixedInterface{
	width: 5vw;
	height: 10vw;
	position: fixed;
	left: 80%;
	top: 70%;
}
#centerPanel #bottom #fixedInterface i{
	display: block;
	height: 50%;
	width: 100%;
	font-size: 1.7em;
	text-align: center;
	color: #FF891B;
}


#centerPanel #bottom::-webkit-scrollbar {
	width: 0.8%;
	background-color: #FFC083;
	border-radius: 1em;
}

#centerPanel #bottom::-webkit-scrollbar-thumb, .newTextarea::-webkit-scrollbar-thumb{
	width: 1.5%;
	background-color: #FF7D00;
	border-radius: 1em;
}

.newTextarea::-webkit-scrollbar{
	width: 4%;
	background-color: #FFC083;
	border-radius: 1em;
}

#centerPanel #bottom .block, #centerPanel #bottom .openedBlock{
	float: left;
	height: 40%;
	width: 20%;
	margin: 10% 0% 10% 10%;
}

#centerPanel #bottom .block .top, #centerPanel #bottom .openedBlock .top{
	box-sizing: border-box;
	width: 90%;
	height: 80%;
	background-color: white;
	border: 0.1em solid #FF891B;
	border-bottom: none;
	border-top-right-radius: 0.8em;
	margin: 0 5% 0 5%;
}
#centerPanel #bottom div .top i{
	display: block;
	float: left;
	width: 15%;
	height: 15%;
	border-radius: 0.2em;
	padding: 3% 0 0 2%;
	text-align: center;
	color: #FF891B;
	font-size: 0.7em;
}

#centerPanel #bottom div .top .fa-arrows-alt{
	margin-left: 80%;
}

#centerPanel #bottom div .top .fa-eraser{
	display: none;
}

#centerPanel #bottom div .top i:hover{
	cursor: pointer;
	color:#FF4700; 
}